/********************** STRUCTURAL STYLES *******************/
* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    font-size: 16px;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: url("../images/bg-mobile.svg") center no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

h1 {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    padding-bottom: 26px;
}

p {
    font-size: .85em;
    color: #fff;
    text-align: center;
    line-height: 30px;
}

/************************ THE LOGO*************************/

.the-logo {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    padding: 36px 0 69px 0;
}

.the-logo img {
    width: 42%;
}

/************************** UPPER **************************/

.upper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}



.upper .hero {
    width: 100%;
    padding-bottom: 69px;
}

.hero img {
    width: 100%;
}

/************************** LOWER **************************/

.lower {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.button-case {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

button {
    font-size: 1em;
    width: 68%;
    margin-top: 30px;
    padding: 16px 0;
    border: 1px solid #fff;
    border-radius: 25px;
    color: hsl(257, 40%, 49%);
}

button:hover {
    cursor: pointer;
    background-color: hsl(300, 69%, 71%);
    color: #fff;
    border: 1px solid hsl(300, 69%, 71%);
}

.socials-case {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.socials {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 63px;
}

i {
    font-size: .85em;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px;
    border-radius: 50%;
}

i:hover, .fa-stack:hover {
    cursor: pointer;
    color:hsl(300, 69%, 71%);
}

.fa-facebook-f {
    padding-left: 15px;
    padding-right: 15px;
}

/************************* FOOTER ***************************/

footer {
    margin-top: 50px;
    font-size: .85em;
}

/********************** DESKTOP STYLES **********************/

@media (min-width: 1440px) {

    /****************** STRUCTURAL STYLES *******************/

    body {
        background: url("../images/bg-desktop.svg") center no-repeat;
        background-size: cover;
        background-color: hsl(257, 40%, 49%);
    }
    

    .container {
        align-items: stretch;
    }

    h1 {
        text-align: left;
        font-size: 2.5em;
    }
    
    p {
        text-align: left;
        font-size: .95em;
    }

    /************************ THE LOGO **********************/

    .the-logo img {
        width: 16%;
    }

    /******************** UPPER AND LOWER *******************/
    .upper, .lower {
        width: 50%;
    }

    .lower {
        justify-content: center;
    }

    .button-case {
        justify-content: flex-start;
    }

    button {
        width: 201px;
    }

    .socials-case {
        padding-top: 25px;
        justify-content: flex-end;
    }

    .socials {
        width: 36%;
    }

    i {
        font-size: 1.5em;
    }
}